# .gitignore
# -----------------------
# Specifies intentionally untracked files to ignore for Git.
# - Logs
# - Node modules and build output
# - Local environment files
# - Editor and OS-specific files
# 
# Author: Edoardo Sabatini
# Date: 28 August 2025

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build output
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# OS-specific files
.DS_Store

# Visual Studio / project files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
